<%- model_class = Indicator -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @indicators.each do |indicator| %>
      <tr>
        <td><%= link_to indicator.id, indicator_path(indicator) %></td>
        <td><%= indicator.name %></td>
        <td><%=l indicator.updated_at %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_indicator_path,
            :class => 'btn btn-primary' %>
